/* universal styles*/
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  text-align: center;
}

.main-content{
  padding-top: 69px;
}

.background-image{
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, h4, h3{
  padding: 15px;
  opacity: .9;
}

h5{
  padding: 20px 15px 0 15px;
  opacity: .9
}

.title{
  background-color: black;
  width: 1200px;
}

img{
  width: 300px;
  height: 200px;
}

p{
  padding: 25px 10px;
  opacity: 1;
}

/* Header */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: black;
}

header img{
  margin-left: 10px;
  height: 50px;
  width: auto;
}

header nav{
  width: 350px;
  margin-right: 10px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header li {
  display: inline;
}

header a{
  color: seashell;
  opacity: .9;
}

/* mission section */

.mission{
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

/* featured-tea section */

.featured-tea{
  padding-top: 50px;
}

.teas{
  flex-direction: row;
  flex-wrap: wrap;
  width: 1020px;
}

.tea{
  padding: 0 20px;
}

.tea h4{
  padding: 10px 0 20px 0;
}

/* locations */

.locations{
  margin-top: 50px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
}

.location{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
}

.place{
  background-color: black;
  width: 300px;
  text-align: center;
  margin: 0 20px;
}

/* footer */

footer{
  padding: 20px;
  height: 200px;
}

.copyright {
  align-self: flex-start;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
